{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Delete Truck</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {% comment %} <form method="POST" id="TruckDelete">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="delete_truck">Select Truck to Delete</label>
                                                            <select class="mb-3 form-control" name="delete_truck" id="delete_truck">
                                                                <option>Select a Truck</option>
                                                                {% for truck in trucks %}
                                                                    <option value="{{truck.truck_id}}" id="delete_truck_id">Truck {{truck.truck_id}} (Capacity {{truck.capacity}} ft<sup>3</sup>)</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <input type="submit" class="btn btn-primary" value="Delete"></input>
                                                    </form> {% endcomment %}
                                                    <form method="POST" id="TruckDelete">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="delete_truck">Select Truck to Delete</label>
                                                            <select class="mb-3 form-control" name="delete_truck" id="delete_truck_id">
                                                                <option>Select an Truck</option>
                                                                {% for truck in trucks %}
                                                                    <option value="{{truck.truck_id}}" id="delete_truck_option">Truck {{truck.truck_id}} (Capacity {{truck.capacity}} ft<sup>3</sup>)</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <input type="submit" class="btn btn-primary" value="Delete"></input>
                                                    </form>

                                                    <script src="https://code.jquery.com/jquery-3.5.1.js" 
                                                        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
                                                            crossorigin="anonymous"></script>
                                                
                                                    <script type="text/javascript">
                                                    $(document).on('submit','#TruckDelete',function(e){
                                                        e.preventDefault();
                                                        $.ajax({
                                                            type:'POST',
                                                            url:'{% url "trucks_index" %}',
                                                            data:
                                                            {
                                                                truck_id:$("#delete_truck_id").val(),
                                                                type: "Delete",
                                                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                                            },
                                                            success:function(){
                                                                window.location.href="/trucks/";
                                                                alert('Truck Deleted');
                                                                    }
                                                            })
                                                        });
                                                    </script>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}