{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-md-6 col-xl-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="m-b-0">Locations for Delivery</h5>
                                        </div>
                                        {{ map|safe }}
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <!-- <div class="col-auto">
                                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                                </div> -->
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ total_demand }} <span style="font-size:22px">  ft<sup>3</sup> </span></h3>
                                                    <div><span class="d-block text-uppercase">TOTAL DEMAND </span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <!-- <div class="col-auto">
                                                    <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                                </div> -->
                                                <div class="col">
                                                    <h3 class="f-w-300">{{ total_capacity }}<span style="font-size:22px">  ft<sup>3</sup> </span></h3>
                                                    <div><span class="d-block text-uppercase">TOTAL CAPACITY</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-6">Shippable in Next Delivery</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0">
                                                        <!-- <i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i> -->
                                                        {{ shippable }} <span style="font-size:20px">&nbspft<sup>3</sup>&nbsp</span><span style="font-size:30px">/</span>&nbsp{{ total_demand }} <span style="font-size:20px">&nbspft<sup>3</sup></span></h3>
                                                    </h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ percent_aval }}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width:{{ percent_aval }}%;" aria-valuenow="{{ percent_aval }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class-"row">
                                    <div class="col-sm-12">
                                        <h5 class="mt-4">Information</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-12">
                                                <ul class="nav flex-column nav-pills" id="v-pills-info" role="tablist" aria-orientation="vertical">
                                                    <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a></li>
                                                    <li><a class="nav-link text-left" id="v-pills-demands-tab" data-toggle="pill" href="#v-pills-demands" role="tab" aria-controls="v-pills-demands" aria-selected="false">Demands</a></li>
                                                    <li><a class="nav-link text-left" id="v-pills-trucks-tab" data-toggle="pill" href="#v-pills-trucks" role="tab" aria-controls="v-pills-trucks" aria-selected="false">Trucks</a></li>
                                                    <li><a class="nav-link text-left" id="v-pills-paths-tab" data-toggle="pill" href="#v-pills-paths" role="tab" aria-controls="v-pills-paths" aria-selected="false">Paths</a></li>
                                                    <li><a class="nav-link text-left" id="v-pills-logs-tab" data-toggle="pill" href="#v-pills-logs" role="tab" aria-controls="v-pills-logs" aria-selected="false">Logs</a></li>
                                                </ul>
                                            </div>
                                
                                            <div class="col-md-9 col-sm-12">
                                                <div class="tab-content" id="v-pills-infoContent">
                                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                        <p class="mb-0">
                                                            <b>Path Calculation:</b>
                                                            This program is intended to simplify vehicle routing by finding the most efficient routing 
                                                            option given vehicle contraints and shipping demands. Paths are optimized using a 
                                                            cost function which takes into account the duration and distance of possible routes while 
                                                            delivering the most product possible. If demand exceeds the total vehicle capacities, the smallest 
                                                            loads which add the most distance and duration to the overall route will be dropped.
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="v-pills-demands" role="tabpanel" aria-labelledby="v-pills-demands-tab">
                                                        <p class="mb-0">
                                                            <b>Demands:</b>
                                                            The Demands page tracks orders waiting to be fulfiled. Each demand is measured in cubic feet and 
                                                            contains a delivery location in address form. Demands will be pulled directly from the company database 
                                                            to ensure that it remains up to date with the current orders. The Demands page allows for the user to add 
                                                            or delete demands which will update both the program and the company database. 
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="v-pills-trucks" role="tabpanel" aria-labelledby="v-pills-trucks-tab">
                                                        <p class="mb-0">
                                                            <b>Trucks:</b>
                                                            The Trucks page tracks all of the trucks that are currently availible. The capacity of each truck is measured in cubic feet. 
                                                            Trucks will be pulled directly from the company database to ensure that it remains up to date with the currently availible trucks.
                                                            The Trucks page allows for the user to add or delete trucks which will update both the program and the company database.
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="v-pills-paths" role="tabpanel" aria-labelledby="v-pills-paths-tab">
                                                        <p class="mb-0">
                                                            <b>Path Calculation:</b>
                                                            This program is intended to simplify vehicle routing by finding the most efficient routing 
                                                            option given vehicle contraints and shipping demands. Paths are optimized using a 
                                                            cost function which takes into account the duration and distance of possible routes while 
                                                            delivering the most product possible. If demand exceeds the total vehicle capacities, the smallest 
                                                            loads which add the most distance and duration to the overall route will be dropped. <br>
                                                            <br><b>Path Authorization:</b> 
                                                            If the calculated path filfills company needs, then the path can be authorized which will remove the path
                                                            from the Paths page and will record the authorized path in the Logs page. When a path is authorized, 
                                                            all demands which were satisfied by the path will be removed from the Demands page and the company database. 
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="v-pills-logs" role="tabpanel" aria-labelledby="v-pills-logs-tab">
                                                        <p class="mb-0">
                                                            <b>Logs:</b>
                                                            The Logs page tracks all paths which have been authorized on the Paths page.  Details of each authorized path
                                                            can be viewed and the path can be deauthorized which will remove the path from the Logs page and will readd all
                                                            demands from the deauthorized path back to the Demands page. 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
